$font-primary: 'Arial', sans-serif;
$primary-color: #381ba0;
$background-color: #f4f4f4;
$text-color: #333;
$text-light: #fff;
$card-background: #fff;
$progress-background: #e0e0e0;
$border-color: #ccc;

